<body>
    <nav class="navbar fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="/home">
                    BLACK HOLE </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">

                <ul class="navbar-nav ml-auto">

                    <li class="dropdown nav-item">
                        <a href="/home" class="dropdown-toggle nav-link" data-toggle="dropdown">
                            <i class="material-icons">dashboard</i>Mặt hàng
                        </a>
                        <div class="dropdown-menu dropdown-with-icons">
                            <a href="/categories/sport" class="dropdown-item">
                                Thể thao
                            </a>
                            <a href="/categories/fashion" class="dropdown-item">
                                Thời trang
                            </a>
                            <a href="/categories/electronic" class="dropdown-item">
                                Điện tử
                            </a>
                            <a href="/categories/transport" class="dropdown-item">
                                Phương tiện
                            </a>
                            <a href="/categories/book" class="dropdown-item">
                                Sách
                            </a>
                            <a href="/categories/toolkit" class="dropdown-item">
                                Phụ kiện - thiết bị số
                            </a>
                            <a href="/categories/food" class="dropdown-item">
                                Thực phẩm
                            </a>
                            <a href="/categories/lifestyle" class="dropdown-item">
                                Nhà cửa - đời sống
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cart" onclick="scrollToDownload()">
                            <i class="material-icons">shopping_cart</i> Giỏ hàng
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="scrollToDownload()">
                            <i class="material-icons">history
                            </i> Lịch sử
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile" onclick="scrollToDownload()">
                            <i class="material-icons">person_pin
                            </i> Trang cá nhân
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/" onclick="scrollToDownload()">
                            <i class="material-icons">exit_to_app</i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <form class="form-inline ml-auto">
                            <div class="form-group no-border">
                                <input type="text" class="form-control" placeholder="Tìm kiếm">
                            </div>
                            <button type="submit" class="btn btn-white btn-just-icon btn-round">
                                <i class="material-icons">search</i>
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br /> <br /> <br /> <br /> <br />
    <br /> <br /> <br /> <br /> <br />
    {{#if condition}}
    <div class="ui container">
        <h1>Chưa có lịch sử sử dụng Web</h1>
    </div>
    {{else}}
    <div class="ui container">
        {{#each history}}
        {{#if this.cancle}}
        <div class="ui three top attached steps">
            <div class="disabled step">
                <i class="payment icon"></i>
                <div class="content">
                    <div class="title">Hủy đơn hàng</div>
                </div>
            </div>
        </div>
        <div class="ui attached segment">
            <div class="ui grid">
                <div class="three wide column">
                    <img class="ui fluid image" src={{this.image}} />
                </div>
                <div class="thirteen wide column">
                    <div class="container">
                        <a href="/product">
                            <h2>{{this.name}}</h2>
                        </a>
                        <p class="description">{{this.price}}</p>
                    </div>
                </div>
            </div>
        </div>
        <br />
        {{else}}
        <div class="ui three top attached steps">
            <div class="active step">
                <i class="payment icon"></i>
                <div class="content">
                    <div class="title">Gói hàng</div>
                </div>
            </div>

            <div class="step">
                <i class="truck icon"></i>
                <div class="content">
                    <div class="title">Đang chuyển</div>
                </div>
            </div>

            <div class="step">
                {{!-- <i class="info icon"></i> --}}
                <div class="content">
                    <div class="title">Hoàn tất</div>
                </div>
            </div>
        </div>
        <div class="ui attached segment">
            <div class="ui grid">
                <div class="three wide column">
                    <img class="ui fluid image" src={{this.image}}>
                </div>
                <div class="thirteen wide column">
                    <div class="container">
                        <a href="/product">

                            <h2>{{this.name}}</h2>
                        </a>
                        <p class="description">{{this.price}}</p>
                        <button class="ui button">Hủy đơn hàng</button>
                    </div>
                </div>
            </div>
        </div>
        <br />
        {{/if}}
        {{/each}}
    </div>
    {{/if}}
</body>